@charset "utf-8"

@import "variables"
@import "mixins"

$primary: grey
$blue: $dark-blue

// Load bulma framework
@import "~bulma/bulma"



// Apply mixins
.nav
  +nav-mixin

.nav-item a,
a.nav-item
  +nav-item-a-color

.label
  color: $dark-blue !important
  font-size: 0.8rem
  padding-top: 6px

.select select
  width: 100%
